<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>PHPUnit</string>
	<key>ordering</key>
	<array>
		<string>8228ACD2-6C9D-47CE-B4A6-082DAB1C5649</string>
		<string>8A605C02-D7F6-43AD-9126-9965C9EB0E21</string>
		<string>6C633F13-A4EC-4A1E-816D-D775AA30AC5D</string>
	</array>
	<key>uuid</key>
	<string>69E9A047-2FE7-4CA4-B8BF-0D4B0DBEF358</string>
</dict>
</plist>
